---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "tufte";

$link-color: rgb(15, 91, 48);
$highlight-color: rgb(211, 241, 232);
$main-bg-color: rgb(252, 255, 252);

::selection {
    background-color: $highlight-color;
}

.site-header {
    border-top: 5px solid $link-color;
}

body {
    background-color: $main-bg-color;
    font-family: "Karla";
}

a, a:link, a:visited {
    color: $link-color;
    text-decoration: underline;
    display: unset;

    .social-media-list &:hover {
        text-decoration: underline;
    }
}

