---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "tufte";
@import "minima";

$link-color: rgb(15, 91, 48);
$link-color-opaque: rgba(15, 91, 48, 0.2);
$accent: #055829;
$highlight-color: #d3f1e8;
$main-bg-color: #fcfffc;

::selection {
    background-color: $highlight-color;
}

.site-header {
    border-top: 5px solid $link-color;
}

body {
    background-color: $main-bg-color;
}

a, a:link, a:visited {
    color: $link-color;
    text-decoration: underline;
    display: unset;
}
